# Flask Configuration
SECRET_KEY=your_secret_key_here
FLASK_ENV=development

# Redis Cache Configuration (use rediss:// for TLS)
REDIS_URL=redis_url

# PostgreSQL Database Configuration
DATABASE_URL=db_url

# Server Configuration
PORT=5000
HOST=0.0.0.0
